.movies {
  padding-left: 0;
  margin: 0 auto;
  height: auto;
  padding-top: 20px;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(2, 48.13%);
  margin-bottom: 20px;
}

.empty-results {
  width: 310px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin: 0 auto
}